<!-- Navbar -->
<nav class="navbar navbar-main  navbar-expand-md shadow-none border-radius-xl" id="navbarBlur"
  navbar-scroll="true">
  <div class="navbar">
    <ul class="navbar-nav mt-1 ">
      <li class="nav-item d-flex me-1 mt-0 ">
        <label for="theme-switch" class="nav-link text-body">
          <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer"  id="theme-indicator"></i>
        </label>
        <input type="checkbox" class="d-none" id="theme-switch" />
        
      </li>
    </ul>
  </div>
  
</nav>
<!-- End Navbar -->